## To Run:

In a folder named "Data" place the following csv files:
- Grab file train.csv from NFL Big Data Bowl 2020 and name as "NFL2020.csv" 
- Grab file plays.csv from NFL Big Data Bowl 2021 and name as "NFL2021Plays.csv" 
- Grab file plays.csv from NFL Big Data Bowl 2022 and name as "NFL2022Plays.csv"

In [77]:
import pandas as pd

# Setting up Run Dataframe

In [78]:
df_2020 = pd.read_csv('Data/NFL2020.csv')

df_runs = df_2020[["GameId", "PlayId", "YardLine", "Quarter", "GameClock", "PossessionTeam", "Down", "Distance", "FieldPosition", "HomeScoreBeforePlay", "VisitorScoreBeforePlay"]]

# Adding playType "Run"
df_runs["playType"] = "Run"

/var/folders/gj/kqxll8h94db0lnysf3tzxk5r0000gn/T/ipykernel_98495/2992731833.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  df_2020 = pd.read_csv('Data/NFL2020.csv')
/var/folders/gj/kqxll8h94db0lnysf3tzxk5r0000gn/T/ipykernel_98495/2992731833.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_runs["playType"] = "Run"

In [79]:
df_runs.head(5)

,GameId,PlayId,YardLine,Quarter,GameClock,PossessionTeam,Down,Distance,FieldPosition,HomeScoreBeforePlay,VisitorScoreBeforePlay,playType
0,2017090700,20170907000118,35,1,14:14:00,NE,3,2,NE,0,0,Run
1,2017090700,20170907000118,35,1,14:14:00,NE,3,2,NE,0,0,Run
2,2017090700,20170907000118,35,1,14:14:00,NE,3,2,NE,0,0,Run
3,2017090700,20170907000118,35,1,14:14:00,NE,3,2,NE,0,0,Run
4,2017090700,20170907000118,35,1,14:14:00,NE,3,2,NE,0,0,Run

In [80]:
# Number of Unique Games in df_runs

uniqueGameIds_runs = df_runs.GameId.unique()
uniqueGameIdsCount_runs = len(uniqueGameIds_runs)

print("Number of Unique Games for 2020 dataset: ", uniqueGameIdsCount_runs)

Number of Unique Games for 2020 dataset:  688

In [84]:
# Entire df_runs with unique plays (every game)

df_runs_uniquePlays = df_runs.drop_duplicates(subset=["GameId", "PlayId"])
print(df_runs_uniquePlays)
print(df_runs_uniquePlays.count())

            GameId          PlayId  YardLine  Quarter GameClock  \
0       2017090700  20170907000118        35        1  14:14:00
22      2017090700  20170907000139        43        1  13:52:00
44      2017090700  20170907000189        35        1  13:02:00
66      2017090700  20170907000345         2        1  12:12:00
88      2017090700  20170907000395        25        1  12:08:00
...            ...             ...       ...      ...       ...
682044  2019112500  20191125003419        46        4  09:47:00
682066  2019112500  20191125003440        47        4  09:03:00
682088  2019112500  20191125003496        13        4  08:04:00
682110  2019112500  20191125003768        37        4  04:55:00
682132  2019112500  20191125003789        38        4  04:11:00

       PossessionTeam  Down  Distance FieldPosition  HomeScoreBeforePlay  \
0                  NE     3         2            NE                    0
22                 NE     1        10            NE                    0
44                 NE     1        10            KC                    0
66                 NE     2         2            KC                    0
88                 KC     1        10            KC                    7
...               ...   ...       ...           ...                  ...
682044            BLT     1        10           BLT                    6
682066            BLT     2         9           BLT                    6
682088            BLT     1        10            LA                    6
682110            BLT     1        10           BLT                    6
682132            BLT     2         9           BLT                    6

        VisitorScoreBeforePlay playType
0                            0      Run
22                           0      Run
44                           0      Run
66                           0      Run
88                           0      Run
...                        ...      ...
682044                      42      Run
682066                      42      Run
682088                      42      Run
682110                      45      Run
682132                      45      Run

[31007 rows x 12 columns]
GameId                    31007
PlayId                    31007
YardLine                  31007
Quarter                   31007
GameClock                 31007
PossessionTeam            31007
Down                      31007
Distance                  31007
FieldPosition             30616
HomeScoreBeforePlay       31007
VisitorScoreBeforePlay    31007
playType                  31007
dtype: int64

# Setting up Passing Dataframe
(Does not have homeTeamAbbr or visitorTeamAbbr. Will need games.csv from 2021.)

In [86]:
df_2021 = pd.read_csv('Data/NFL2021Plays.csv')

df_passes = df_2021[["gameId", "playId", "yardlineNumber", "quarter", "gameClock", "possessionTeam", "down", "yardsToGo", "yardlineSide", "preSnapHomeScore", "preSnapVisitorScore"]]

# Adding playType "Pass"
df_passes["playType"] = "Pass"

print(df_passes)

           gameId  playId  yardlineNumber  quarter gameClock possessionTeam  \
0      2018090600      75              20        1  15:00:00            ATL
1      2018090600     146              39        1  13:10:00            ATL
2      2018090600     168              39        1  13:05:00            ATL
3      2018090600     190              39        1  13:01:00            ATL
4      2018090600     256               1        1  10:59:00            ATL
...           ...     ...             ...      ...       ...            ...
19234  2018122200    2300              31        3       NaN            WAS
19235  2018122200    3177              37        4       NaN            TEN
19236  2018122201     566              49        1       NaN            LAC
19237  2018122201    1719              48        2       NaN            LAC
19238  2018122201    2649              49        3       NaN            BAL

       down  yardsToGo yardlineSide  preSnapHomeScore  preSnapVisitorScore  \
0         1         15          ATL               0.0                  0.0
1         1         10          PHI               0.0                  0.0
2         2         10          PHI               0.0                  0.0
3         3         10          PHI               0.0                  0.0
4         3          1          PHI               0.0                  0.0
...     ...        ...          ...               ...                  ...
19234     2          5          WAS               NaN                  NaN
19235     3          7          WAS               NaN                  NaN
19236     3          4          LAC               NaN                  NaN
19237     3          1          LAC               NaN                  NaN
19238     1         10          LAC               NaN                  NaN

      playType
0         Pass
1         Pass
2         Pass
3         Pass
4         Pass
...        ...
19234     Pass
19235     Pass
19236     Pass
19237     Pass
19238     Pass

[19239 rows x 12 columns]

/var/folders/gj/kqxll8h94db0lnysf3tzxk5r0000gn/T/ipykernel_98495/3044368639.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_passes["playType"] = "Pass"

In [87]:
# Entire df_passes with unique plays (every game)

df_passes_uniquePlays = df_passes.drop_duplicates(subset=["gameId", "playId"])
print(df_passes_uniquePlays)
print(df_passes_uniquePlays.count())

           gameId  playId  yardlineNumber  quarter gameClock possessionTeam  \
0      2018090600      75              20        1  15:00:00            ATL
1      2018090600     146              39        1  13:10:00            ATL
2      2018090600     168              39        1  13:05:00            ATL
3      2018090600     190              39        1  13:01:00            ATL
4      2018090600     256               1        1  10:59:00            ATL
...           ...     ...             ...      ...       ...            ...
19234  2018122200    2300              31        3       NaN            WAS
19235  2018122200    3177              37        4       NaN            TEN
19236  2018122201     566              49        1       NaN            LAC
19237  2018122201    1719              48        2       NaN            LAC
19238  2018122201    2649              49        3       NaN            BAL

       down  yardsToGo yardlineSide  preSnapHomeScore  preSnapVisitorScore  \
0         1         15          ATL               0.0                  0.0
1         1         10          PHI               0.0                  0.0
2         2         10          PHI               0.0                  0.0
3         3         10          PHI               0.0                  0.0
4         3          1          PHI               0.0                  0.0
...     ...        ...          ...               ...                  ...
19234     2          5          WAS               NaN                  NaN
19235     3          7          WAS               NaN                  NaN
19236     3          4          LAC               NaN                  NaN
19237     3          1          LAC               NaN                  NaN
19238     1         10          LAC               NaN                  NaN

      playType
0         Pass
1         Pass
2         Pass
3         Pass
4         Pass
...        ...
19234     Pass
19235     Pass
19236     Pass
19237     Pass
19238     Pass

[19239 rows x 12 columns]
gameId                 19239
playId                 19239
yardlineNumber         19239
quarter                19239
gameClock              18600
possessionTeam         19239
down                   19239
yardsToGo              19239
yardlineSide           18985
preSnapHomeScore       18600
preSnapVisitorScore    18600
playType               19239
dtype: int64

# Setting up Punt Dataframe

In [89]:
df_2022 = pd.read_csv('Data/NFL2022Plays.csv')

df_punts = df_2022[["gameId", "playId", "yardlineNumber", "quarter", "gameClock", "possessionTeam", "down", "yardsToGo", "yardlineSide", "preSnapHomeScore", "preSnapVisitorScore", "specialTeamsPlayType"]]
df_punts = df_punts.loc[df_punts["specialTeamsPlayType"] == "Punt"]
df_punts = df_punts.drop(columns=["specialTeamsPlayType"])

# Adding playType "Punt"
df_punts["playType"] = "Punt"

print(df_punts)

           gameId  playId  yardlineNumber  quarter gameClock possessionTeam  \
1      2018090600     366               8        1  09:20:00            PHI
4      2018090600     872              35        1  00:33:00            PHI
5      2018090600     973              11        2  14:18:00            ATL
10     2018090600    1850              31        2  01:30:00            PHI
11     2018090600    1989              26        2  00:44:00            ATL
...           ...     ...             ...      ...       ...            ...
19957  2021010315    1359              20        2  08:17:00             SF
19958  2021010315    1479              23        2  06:47:00            SEA
19964  2021010315    2235              27        3  08:39:00            SEA
19967  2021010315    2497              26        3  05:17:00            SEA
19972  2021010315    3258              41        4  07:52:00             SF

       down  yardsToGo yardlineSide  preSnapHomeScore  preSnapVisitorScore  \
1         4          4          PHI                 0                    0
4         4         18          PHI                 0                    3
5         4         19          ATL                 0                    3
10        4          8          PHI                 3                    6
11        4          8          ATL                 3                    6
...     ...        ...          ...               ...                  ...
19957     4         15           SF                 0                    6
19958     4         19          SEA                 0                    6
19964     4          8          SEA                 6                    6
19967     4          9          SEA                 9                    6
19972     4          5           SF                16                   12

      playType
1         Punt
4         Punt
5         Punt
10        Punt
11        Punt
...        ...
19957     Punt
19958     Punt
19964     Punt
19967     Punt
19972     Punt

[5991 rows x 12 columns]

In [90]:
# Entire df_passes with unique plays (every game)

df_punts_uniquePlays = df_punts.drop_duplicates(subset=["gameId", "playId"])
print(df_punts_uniquePlays)
print(df_punts_uniquePlays.count())

           gameId  playId  yardlineNumber  quarter gameClock possessionTeam  \
1      2018090600     366               8        1  09:20:00            PHI
4      2018090600     872              35        1  00:33:00            PHI
5      2018090600     973              11        2  14:18:00            ATL
10     2018090600    1850              31        2  01:30:00            PHI
11     2018090600    1989              26        2  00:44:00            ATL
...           ...     ...             ...      ...       ...            ...
19957  2021010315    1359              20        2  08:17:00             SF
19958  2021010315    1479              23        2  06:47:00            SEA
19964  2021010315    2235              27        3  08:39:00            SEA
19967  2021010315    2497              26        3  05:17:00            SEA
19972  2021010315    3258              41        4  07:52:00             SF

       down  yardsToGo yardlineSide  preSnapHomeScore  preSnapVisitorScore  \
1         4          4          PHI                 0                    0
4         4         18          PHI                 0                    3
5         4         19          ATL                 0                    3
10        4          8          PHI                 3                    6
11        4          8          ATL                 3                    6
...     ...        ...          ...               ...                  ...
19957     4         15           SF                 0                    6
19958     4         19          SEA                 0                    6
19964     4          8          SEA                 6                    6
19967     4          9          SEA                 9                    6
19972     4          5           SF                16                   12

      playType
1         Punt
4         Punt
5         Punt
10        Punt
11        Punt
...        ...
19957     Punt
19958     Punt
19964     Punt
19967     Punt
19972     Punt

[5991 rows x 12 columns]
gameId                 5991
playId                 5991
yardlineNumber         5991
quarter                5991
gameClock              5991
possessionTeam         5991
down                   5991
yardsToGo              5991
yardlineSide           5882
preSnapHomeScore       5991
preSnapVisitorScore    5991
playType               5991
dtype: int64

# Setting up Field Goal Dataframe

In [91]:
df_field_goals = df_2022[["gameId", "playId", "yardlineNumber", "quarter", "gameClock", "possessionTeam", "down", "yardsToGo", "yardlineSide", "preSnapHomeScore", "preSnapVisitorScore", "specialTeamsPlayType"]]
df_field_goals = df_field_goals.loc[df_field_goals["specialTeamsPlayType"] == "Field Goal"]
df_field_goals = df_field_goals.drop(columns=["specialTeamsPlayType"])

# Adding playType "Field Goal"
df_field_goals["playType"] = "Field Goal"

print(df_field_goals)

           gameId  playId  yardlineNumber  quarter gameClock possessionTeam  \
2      2018090600     658               3        1  05:03:00            ATL
6      2018090600    1368               8        2  06:12:00            PHI
8      2018090600    1587              34        2  02:13:00            ATL
33     2018090900    1226              23        2  13:18:00            BAL
36     2018090900    1613              34        2  08:48:00            BUF
...           ...     ...             ...      ...       ...            ...
19952  2021010315     811              17        1  02:13:00            SEA
19955  2021010315    1243              12        2  09:31:00            SEA
19959  2021010315    1784              18        2  00:29:00             SF
19962  2021010315    2121              29        3  09:36:00             SF
19965  2021010315    2366              15        3  06:23:00             SF

       down  yardsToGo yardlineSide  preSnapHomeScore  preSnapVisitorScore  \
2         4          3          PHI                 0                    0
6         4          8          ATL                 0                    3
8         4         17          PHI                 3                    3
33        4         13          BUF                14                    0
36        4          9          BAL                17                    0
...     ...        ...          ...               ...                  ...
19952     4         10           SF                 0                    0
19955     4          3           SF                 0                    3
19959     4          6          SEA                 0                    6
19962     4          8          SEA                 3                    6
19965     4         15          SEA                 6                    6

         playType
2      Field Goal
6      Field Goal
8      Field Goal
33     Field Goal
36     Field Goal
...           ...
19952  Field Goal
19955  Field Goal
19959  Field Goal
19962  Field Goal
19965  Field Goal

[2657 rows x 12 columns]

In [92]:
# Entire df_field_goals with unique plays (every game)

df_field_goals_uniquePlays = df_field_goals.drop_duplicates(subset=["gameId", "playId"])
print(df_field_goals_uniquePlays)
print(df_field_goals_uniquePlays.count())

           gameId  playId  yardlineNumber  quarter gameClock possessionTeam  \
2      2018090600     658               3        1  05:03:00            ATL
6      2018090600    1368               8        2  06:12:00            PHI
8      2018090600    1587              34        2  02:13:00            ATL
33     2018090900    1226              23        2  13:18:00            BAL
36     2018090900    1613              34        2  08:48:00            BUF
...           ...     ...             ...      ...       ...            ...
19952  2021010315     811              17        1  02:13:00            SEA
19955  2021010315    1243              12        2  09:31:00            SEA
19959  2021010315    1784              18        2  00:29:00             SF
19962  2021010315    2121              29        3  09:36:00             SF
19965  2021010315    2366              15        3  06:23:00             SF

       down  yardsToGo yardlineSide  preSnapHomeScore  preSnapVisitorScore  \
2         4          3          PHI                 0                    0
6         4          8          ATL                 0                    3
8         4         17          PHI                 3                    3
33        4         13          BUF                14                    0
36        4          9          BAL                17                    0
...     ...        ...          ...               ...                  ...
19952     4         10           SF                 0                    0
19955     4          3           SF                 0                    3
19959     4          6          SEA                 0                    6
19962     4          8          SEA                 3                    6
19965     4         15          SEA                 6                    6

         playType
2      Field Goal
6      Field Goal
8      Field Goal
33     Field Goal
36     Field Goal
...           ...
19952  Field Goal
19955  Field Goal
19959  Field Goal
19962  Field Goal
19965  Field Goal

[2657 rows x 12 columns]
gameId                 2657
playId                 2657
yardlineNumber         2657
quarter                2657
gameClock              2657
possessionTeam         2657
down                   2657
yardsToGo              2657
yardlineSide           2657
preSnapHomeScore       2657
preSnapVisitorScore    2657
playType               2657
dtype: int64

## Renaming Columns in Dataframs so they all match

In [93]:
# df_runs_uniquePlays
# df_passes_uniquePlays
# df_punts_uniquePlays
# df_field_goals_uniquePlays

df_runs_uniquePlays = df_runs_uniquePlays.rename(columns={"GameId": "gameId", 
                                    "PlayId": "playId", 
                                    "YardLine": "yardlineNumber", 
                                    "Quarter": "quarter",
                                    "GameClock": "gameClock",
                                    "PossessionTeam": "possessionTeam",
                                    "Down": "down",
                                    "Distance": "yardsToGo",
                                    "FieldPosition": "yardlineSide",
                                    "HomeScoreBeforePlay": "preSnapHomeScore",
                                    "VisitorScoreBeforePlay": "preSnapVisitorScore"})

df_runs_uniquePlays

,gameId,playId,yardlineNumber,quarter,gameClock,possessionTeam,down,yardsToGo,yardlineSide,preSnapHomeScore,preSnapVisitorScore,playType
0,2017090700,20170907000118,35,1,14:14:00,NE,3,2,NE,0,0,Run
22,2017090700,20170907000139,43,1,13:52:00,NE,1,10,NE,0,0,Run
44,2017090700,20170907000189,35,1,13:02:00,NE,1,10,KC,0,0,Run
66,2017090700,20170907000345,2,1,12:12:00,NE,2,2,KC,0,0,Run
88,2017090700,20170907000395,25,1,12:08:00,KC,1,10,KC,7,0,Run
...,...,...,...,...,...,...,...,...,...,...,...,...
682044,2019112500,20191125003419,46,4,09:47:00,BLT,1,10,BLT,6,42,Run
682066,2019112500,20191125003440,47,4,09:03:00,BLT,2,9,BLT,6,42,Run
682088,2019112500,20191125003496,13,4,08:04:00,BLT,1,10,LA,6,42,Run
682110,2019112500,20191125003768,37,4,04:55:00,BLT,1,10,BLT,6,45,Run
682132,2019112500,20191125003789,38,4,04:11:00,BLT,2,9,BLT,6,45,Run

# Creating Combined Dataframe

In [94]:
# Combine all dataframes and re-index them starting at 0

df_major = pd.concat([df_runs_uniquePlays, df_passes_uniquePlays, df_punts_uniquePlays, df_field_goals_uniquePlays], ignore_index=True)
df_major

,gameId,playId,yardlineNumber,quarter,gameClock,possessionTeam,down,yardsToGo,yardlineSide,preSnapHomeScore,preSnapVisitorScore,playType
0,2017090700,20170907000118,35,1,14:14:00,NE,3,2,NE,0.0,0.0,Run
1,2017090700,20170907000139,43,1,13:52:00,NE,1,10,NE,0.0,0.0,Run
2,2017090700,20170907000189,35,1,13:02:00,NE,1,10,KC,0.0,0.0,Run
3,2017090700,20170907000345,2,1,12:12:00,NE,2,2,KC,0.0,0.0,Run
4,2017090700,20170907000395,25,1,12:08:00,KC,1,10,KC,7.0,0.0,Run
...,...,...,...,...,...,...,...,...,...,...,...,...
58889,2021010315,811,17,1,02:13:00,SEA,4,10,SF,0.0,0.0,Field Goal
58890,2021010315,1243,12,2,09:31:00,SEA,4,3,SF,0.0,3.0,Field Goal
58891,2021010315,1784,18,2,00:29:00,SF,4,6,SEA,0.0,6.0,Field Goal
58892,2021010315,2121,29,3,09:36:00,SF,4,8,SEA,3.0,6.0,Field Goal
58893,2021010315,2366,15,3,06:23:00,SF,4,15,SEA,6.0,6.0,Field Goal

Get features with missing values:

In [95]:
missing_values = df_major.isnull().sum()
features_with_missing = missing_values[missing_values > 0].index

print("Features with NaN values: \n", features_with_missing)

Features with NaN values:
 Index(['gameClock', 'yardlineSide', 'preSnapHomeScore', 'preSnapVisitorScore'], dtype='object')

In [97]:
import pandas as pd

# Set feature whose rows you want to look at (have NaN)
feature_names = ['gameClock', 'preSnapHomeScore', 'preSnapVisitorScore']

# Find those rows
rows_with_nan = df_major[df_major[feature_name].isnull()]

# Display rows
rows_with_nan

,gameId,playId,yardlineNumber,quarter,gameClock,possessionTeam,down,yardsToGo,yardlineSide,preSnapHomeScore,preSnapVisitorScore,playType
31513,2018090907,1537,24,2,NaN,NYG,2,11,NYG,NaN,NaN,Pass
32839,2018091610,2745,22,3,NaN,SF,1,10,SF,NaN,NaN,Pass
33658,2018092300,2705,44,3,NaN,ATL,2,13,ATL,NaN,NaN,Pass
37492,2018101406,1999,27,2,NaN,IND,3,8,IND,NaN,NaN,Pass
43303,2018112504,336,31,1,NaN,IND,1,10,MIA,NaN,NaN,Pass
...,...,...,...,...,...,...,...,...,...,...,...,...
50241,2018122200,2300,31,3,NaN,WAS,2,5,WAS,NaN,NaN,Pass
50242,2018122200,3177,37,4,NaN,TEN,3,7,WAS,NaN,NaN,Pass
50243,2018122201,566,49,1,NaN,LAC,3,4,LAC,NaN,NaN,Pass
50244,2018122201,1719,48,2,NaN,LAC,3,1,LAC,NaN,NaN,Pass
50245,2018122201,2649,49,3,NaN,BAL,1,10,LAC,NaN,NaN,Pass

Rows that have NaN gameClock, also have NaN in preSnapHomeScore and preSnapVisitorScore

In [98]:
df_major.iloc[[31513]]

,gameId,playId,yardlineNumber,quarter,gameClock,possessionTeam,down,yardsToGo,yardlineSide,preSnapHomeScore,preSnapVisitorScore,playType
31513,2018090907,1537,24,2,NaN,NYG,2,11,NYG,NaN,NaN,Pass

In [99]:
import pandas as pd

features_with_nan = ['gameClock', 'preSnapHomeScore', 'preSnapVisitorScore']

# Drop rows with NaN values for the specified features
df_major = df_major.dropna(subset=features_with_nan)

# Display the cleaned DataFrame
df_major

,gameId,playId,yardlineNumber,quarter,gameClock,possessionTeam,down,yardsToGo,yardlineSide,preSnapHomeScore,preSnapVisitorScore,playType
0,2017090700,20170907000118,35,1,14:14:00,NE,3,2,NE,0.0,0.0,Run
1,2017090700,20170907000139,43,1,13:52:00,NE,1,10,NE,0.0,0.0,Run
2,2017090700,20170907000189,35,1,13:02:00,NE,1,10,KC,0.0,0.0,Run
3,2017090700,20170907000345,2,1,12:12:00,NE,2,2,KC,0.0,0.0,Run
4,2017090700,20170907000395,25,1,12:08:00,KC,1,10,KC,7.0,0.0,Run
...,...,...,...,...,...,...,...,...,...,...,...,...
58889,2021010315,811,17,1,02:13:00,SEA,4,10,SF,0.0,0.0,Field Goal
58890,2021010315,1243,12,2,09:31:00,SEA,4,3,SF,0.0,3.0,Field Goal
58891,2021010315,1784,18,2,00:29:00,SF,4,6,SEA,0.0,6.0,Field Goal
58892,2021010315,2121,29,3,09:36:00,SF,4,8,SEA,3.0,6.0,Field Goal
58893,2021010315,2366,15,3,06:23:00,SF,4,15,SEA,6.0,6.0,Field Goal

In [100]:
missing_values = df_major.isnull().sum()
features_with_missing = missing_values[missing_values > 0].index

print("Features with NaN values: \n", features_with_missing)

Features with NaN values:
 Index(['yardlineSide'], dtype='object')